/* Font Families

font-family: 'DotGothic16', sans-serif;
font-family: 'Gaegu', cursive;
font-family: 'Lekton', sans-serif;
font-family: 'Piedra', cursive;
font-family: 'Poppins', sans-serif; 

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Body Style */
body .body-style {
  background-color: #6E0000;
}

/* Header Section */
header .promo-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #F14D19;
}
header .promo-banner p {
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: none;
  font-size: 2.5rem;
  color: #FFFFFF;
}
header .items-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 3.5rem;
}
header .items-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0.3rem 0rem 0.3rem 0rem;
}
header .items-banner div p {
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
}
header .items-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}
header .items-banner div img {
  width: 2rem;
  height: 2rem;
}

/* Main Section */
main .logo-banner {
  background-image: url("/assets/img/pin-me-up-gif-banner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 18rem;
}
main .logo-banner h1 {
  font-family: "Piedra", cursive;
  font-style: none;
  font-weight: 700;
  font-size: 18rem;
  color: #FFFFFF;
  text-shadow: 1.5px 1.5px 0px black, -1.5px -1.5px 0px black, 1.5px -1.5px 0px black, -1.5px 1.5px 0px black;
}
main .logo-banner h2 {
  font-family: "Lekton", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;
  line-height: 3rem;
  text-align: center;
  text-shadow: 0.7px 0.7px 0px black, -0.7px -0.7px 0px black, 0.7px -0.7px 0px black, -0.7px 0.7px 0px black;
}
main nav ul {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
}
main nav ul li {
  list-style: none;
}
main nav ul li a button {
  border-width: 0.1rem;
  border-radius: 2.5rem;
  border-style: solid;
  border-color: #FFFFFF;
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
  background-color: #F14D19;
  padding: 0.1rem 1rem 0.1rem 1rem;
  transition: background-color 0.5s;
}
main nav ul li a button:hover {
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #6BB0F3;
}
main .intro-banner {
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}
main .intro-banner .intro-title {
  font-family: "Piedra", cursive;
  font-style: none;
  font-weight: 700;
  font-size: 18rem;
  color: #FFFFFF;
}
main .intro-banner .intro-desc {
  font-family: "Lekton", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;
}
main .intro-banner .intro-title-2 {
  font-family: "Piedra", cursive;
  font-style: none;
  font-weight: 700;
  font-size: 18rem;
  color: #FFFFFF;
}
main .blue-button {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .blue-button div img {
  height: 6rem;
  width: 6rem;
}
main .blue-button div a button {
  border-width: 0.4rem;
  border-radius: 2.5rem;
  border-style: solid;
  border-color: #FFFFFF;
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
  background-color: #428cd6;
  padding: 0.1rem 1rem 0.1rem 1rem;
  transition: background-color 0.5s;
}
main .blue-button div a button:hover {
  font-size: 2.4rem;
  background-color: #F14D19;
}
main .collection-desc {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .collection-desc h3 {
  font-family: "DotGothic16", sans-serif;
  font-style: none;
  font-weight: 400;
  font-size: 8rem;
  color: #FFFFFF;
}
main .collection-desc h4 {
  font-family: "Lekton", sans-serif;
  font-style: none;
  font-weight: 400;
  font-size: 3rem;
  color: #FFFFFF;
}

footer {
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
footer .footer-icon img {
  width: 70rem;
}
footer .social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
}
footer .social-media ul li {
  list-style: none;
}
footer .social-media ul li a button {
  border-width: 0.1rem;
  border-radius: 5rem;
  border-style: solid;
  border-color: #FFFFFF;
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
  background-color: #F14D19;
  padding: 0.1rem 1rem 0.1rem 1rem;
  transition: background-color 0.5s;
}
footer .social-media ul li a button:hover {
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #6BB0F3;
}
footer .footer-details p {
  font-family: "Lekton", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
