/* Font Families

font-family: 'DotGothic16', sans-serif;
font-family: 'Gaegu', cursive;
font-family: 'Lekton', sans-serif;
font-family: 'Piedra', cursive;
font-family: 'Poppins', sans-serif; 

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Body Style */
body .body-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(2, 7% 77.1% 15%)/1fr;
  grid-template-areas: "sec1" "sec2" "sec3";
}
body .body-grid header {
  grid-area: sec1;
}
body .body-grid header .promo-banner {
  background-color: #6E0000;
  font-family: "DotGothic16", sans-serif;
}
body .body-grid header .items-banner {
  background-color: #F14D19;
  font-family: "Gaegu", cursive;
  color: #FFFFFF;
}
body .body-grid main {
  grid-area: sec2;
  background-color: #6E0000;
}
body .body-grid footer {
  grid-area: sec3;
  background-color: #6E0000;
}

/* Header Section */
header .promo-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .promo-banner p {
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
header .items-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .items-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0.3rem 0rem 0.3rem 0rem;
}
header .items-banner div p {
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
}
header .items-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}
header .items-banner div img {
  width: 1.6rem;
  height: 1.4rem;
}

/* Main Section */
main .logo-banner {
  background-image: url("/assets/img/pin-me-up-gif-banner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 8rem;
}
main .logo-banner h1 {
  font-family: "Piedra", cursive;
  font-style: none;
  font-weight: 700;
  font-size: 8rem;
  color: #FFFFFF;
  margin-top: 1rem;
  text-shadow: 0.7px 0.7px 0px black, -0.7px -0.7px 0px black, 0.7px -0.7px 0px black, -0.7px 0.7px 0px black;
}
main .logo-banner h2 {
  font-family: "Lekton", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 1.6rem;
  color: #FFFFFF;
  line-height: 1.7rem;
  text-align: center;
  text-shadow: 0.4px 0.4px 0px black, -0.4px -0.4px 0px black, 0.4px -0.4px 0px black, -0.4px 0.4px 0px black;
}
main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem 1rem 1rem;
  column-gap: 1rem;
}
main nav ul li {
  list-style: none;
}
main nav ul li a button {
  border-width: 0.1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: #FFFFFF;
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #F14D19;
  padding: 0.1rem 1rem 0.1rem 1rem;
  transition: background-color 0.3s;
}
main nav ul li a button:hover {
  font-family: "Gaegu", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #6BB0F3;
}

/*# sourceMappingURL=style.css.map */
