$main-background: #6E0000;
$secondary-background: #F14D19;

$font-color:#FFFFFF;
$highlight-color: #6BB0F3;
$black: #000000;

$bold-font: 'Piedra', cursive;
$heading-1-font: 'DotGothic16', sans-serif;
$heading-2-font: 'Lekton', sans-serif;
$button-font: 'Gaegu', cursive;
