/* Header Section */

header {
    .promo-banner {
        @include flex (flex, row, center, center);
        height: 3.5rem;
        background-color: $secondary-background;

        p {
            @include font($heading-1-font, normal, none, 2.8rem, $font-color);
        }
    }

    .items-banner {
        @include flex (flex, row, flex-end, center);
        height: 3.5rem;

        div {
            @include flex (flex, row, flex-end, center);
            margin: 0.3rem 0rem 0.3rem 0rem;

            p {
                @include font($button-font, normal, 700, 2.5rem, $font-color);
            }
        }

        div {
            @include flex (flex, row, flex-end, center);
            padding-right: 0.5rem;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

}