body {
    background-color: $main-background;

    .toast {
        width: 29.5rem;
        height: 7.5rem;
        @include font($heading-2-font, none, 400, 3rem, $font-color);
    }

    .swal2-popup {
        @include font($heading-2-font, none, 400, 4rem, $font-color);
    }

    section {
        @include flex (flex, column, center, center);
        gap: 3rem;


        .purchase-icon {
            img {
                width: 80rem;
            }
        }

        .purchase-details {
            p {
                @include font($heading-2-font, normal, 700, 4.5rem, $font-color);
                text-align: center;
            }
        }

        .back-button {
            a {
                button {
                    @include button (0.4rem, 2.5rem, solid, $font-color);
                    @include font($button-font, normal, 700, 3rem, $font-color);
                    background-color: #428cd6;
                    padding: 0.1rem 1rem 0.1rem 1rem;
                    transition: background-color 0.5s;
                }

                button:hover {
                    font-size: 2.2rem;
                    background-color: $secondary-background;
                }
            }
        }
    }
}