/* Font Families

font-family: 'DotGothic16', sans-serif;
font-family: 'Gaegu', cursive;
font-family: 'Lekton', sans-serif;
font-family: 'Piedra', cursive;
font-family: 'Poppins', sans-serif; 

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%
}
